
body
{
	margin: 0px;
	padding: 0px;
}

h1 {
    font-size: 70px;
    font-family: arial;
}

h2 {
    font-size: 28px;
    font-family: helvetica;
}

p {

font-size: 20px;
line-height: 30px;
}
 

	

@media screen and (max-width: 1024px) 
{
	h1 {
		font-size: 72px;
		color: darkred;}
	
	p {
		font-size: 20px;
		color: hotpink;}
	
	
	}


@media screen and (max-width: 768px) {
	h1 {
		font-size: 50px;
		color: darkred;}
		p {
		font-size: 18px;
		color: hotpink;}
	
	}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 35px;
		color: darkred;}
	p {
		font-size: 14px;
		color: hotpink;}
	h2 {
		font-size: 14px;
		color: darkred;}
	}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 15px;
		color: darkred;}
	p {
		font-size: 5px;
		color: hotpink;}
	h2 {
		font-size: 10px;
		color: darkred;}
	
	}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 15px;
		color: darkred;}
	p {
		font-size: 5px;
		color: hotpink;}
	
	}

